.user-review-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .user-review-card {
    width: 30%;
    height: 230px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1.5rem;
  }
  
  .user-review-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-review-content {
    margin-top: 1rem;
  }
  
  .user-review-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .user-review-text {
    font-size: 0.9rem;
    color: #555;
  }
  
  .user-review-date {
    font-size: 0.8rem;
    color: #888;
  }
  .user-review-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .user-review-card {
    position: relative;
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1.5rem;
    transition: all 0.3s ease;
  }
  
  .user-review-card:hover {
    background-color: #f5f5f5;
  }
  
  .user-review-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .user-review-card:hover:before {
    opacity: 1;
  }
  
  .user-review-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-review-content {
    margin-top: 1rem;
  }
  
  .user-review-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .user-review-text {
    font-size: 0.9rem;
    color: #555;
  }
  
  .user-review-date {
    font-size: 0.8rem;
    color: #888;
  }
    




  
  .cardd {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
  }
  
  .card-titlee {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-textt {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-bodyy {
    padding: 10px;
  }
  
  .bi-star {
    width: 20px;
    height: 20px;
    fill: rgb(250, 192, 1);
    margin-right: 2px;
    /* background-color: rgb(0, 240, 48); */
  }
  