header {
	background-color: #f8f9fa;
	padding: 20px 0;
}

.navbar-brand {
	font-size: 24px
}

.product-section {
margin-top: 50px;
margin-bottom: 50px;
}

.product-details {
margin-top: 50px;
margin-bottom: 50px;
}

footer {
background-color: #f8f9fa;
padding: 20px 0;
}

footer p {
font-size: 14px;
margin: 0;
}


  h5 {
    margin-top: 0;
  }
  p {
    font-size: 24px;
    font-weight: bold;
  }
  .heart-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .heart-icon {
	cursor: pointer;
	font-size: 2rem;
	color: gray;
  }
  
  .heart-icon.liked {
	color: red;
  }
  .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
  }
  
  .card-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .card-info {
	font-size: 36px;
	font-weight: bold;
  }
  body {
	font-family: Arial, sans-serif;
	  
  }
  img:hover {
	opacity: 0.9; /* decrease opacity on hover */
	transform: scale(1.07); /* scale up the image on hover */
	transition: all 0.4s ease-in-out; /* add smooth transition */
  }
  p{
	color: #4d4c4c;
  }
  .h1{
	font-size: 37px;
	text-shadow: 1px 1px 1px ;
	
  }
  .xx {
	background-image: url('/img/photo1.jpg');
	background-size: cover;
	background-position: center;
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}
#bt1 {
	width: 500px;
}
#bt2 {
	width: 500px;
	background-color:orange;
	border-color: orange;
}
.A{
	text-decoration: none;
	background-color: #337ed3;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	
}
#io{
	background-color: #337ed3;
	color: #f8f9fa;
	border-radius: 5px;
	height: 28px;
	width: 30px;
}
#bt3 {
	width: 500px;
	background-color:green;
	border-color:green;
}
body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}




.i {
	display: flex;
	align-items: center;
  }
  
  .i {
	display: flex;
  }
  
 
  
  .tn {
	background-color: #007bff;
	color: #fff;
	border: none;
  }
  
  .for {
	width: 5px;
	text-align: center;
  }
  




  .containerR {
    margin-right: 290px;
    
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .input-group-append {
    margin-left: 1rem;
  }

  .form {
    width: 5rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .a{
	text-decoration: none;
	color: #fffbec;
	font-size: 16px;
	padding-right: 12px;
  }
  .a:hover{
	color: #ccc;
	text-decoration: none;
  }